<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "App-mates 4 Lyfe" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </head>

  <body>
   <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
   <% end %>
   <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
   <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation.alert.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
    <script src="js/foundation/foundation.magellan.js"></script>
    <script src="js/foundation.tab.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
